<div class="container">
    <div class="row h-30">
        <div class="col-3 h-30">
            <img src="https://img.icons8.com/dusk/64/000000/list.png"/>
        </div>
        <div class="col-6 h-30">
            <h3>ToDo List of Studants of IFCE</h3>
        </div>
        <div class="col-3 h-30">
            <img src="https://img.icons8.com/wired/64/000000/circled-user.png"/>
            <p> {{userName}} </p>
        </div>
    </div>

    <div class="row h-70">
        <div class="col-2">
            <p><a href="#"><img src="https://img.icons8.com/wired/32/000000/add--v2.png"/></a></p>
            <p><a href="#"><img src="https://img.icons8.com/wired/32/000000/zoom-in.png"/></a></p>
            <p><a href="#"><img src="https://img.icons8.com/windows/32/000000/update-tag.png"/></a></p>
            <p><a href="#"><img src="https://img.icons8.com/wired/32/000000/help.png"/></a></p>
        </div>
        <div class="col-10">
            <table class="table table-striped">
                <tr>
                    <td>Dado</td><td>Dado</td><td>Dado</td><td>Dado</td>
                </tr>
                <tr>
                    <td>Dado</td><td>Dado</td><td>Dado</td><td>Dado</td>
                </tr>
                <tr>
                    <td>Dado</td><td>Dado</td><td>Dado</td><td>Dado</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row h-10">
        <div class="col-12">
            <h4>Harley Macêdo - 2020</h4>
        </div>
    </div>
</div>