<style>
    body {
        background-image: url('/img/book3.jpg')
    }
</style>
<div class="container">

    <div class="row justify-content-center" style="height: 30%;">
        <div class="col-6 d-inline-block">
            <h2>ToDo List - IFCE</h2>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-6 h-70 d-inline-block" style="background-color: rgba(80, 60, 50, 0.4);">
            <form class="form" action="/home" method="POST">
                <label>Usuário: <input class="form-control" type="text" name="usuario" placeholder="Nome ou email" /></label>
                <label>Senha: <input class="form-control" type="password" name="senha" placeholder="Senha" /></label>
                <input class="btn btn-primary" type="submit" value="Entrar">
            </form>
        </div>
    </div>
    <div>
        <button class="btn btn-secondary" >Cadastrar</button>
    </div>
   
</div>
