<style>
    body {
        background-image: url('/img/book3.jpg')
    }
</style>
<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center" style="height: 100px;">
            <h2>ToDo List - IFCE</h2>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-6 d-flex justify-content-center" style="background-color: rgba(109, 60, 35, 0.4); height: 300px">
            <form class="form" action="/home" method="POST">
                <p><label>Usuário: <input class="form-control" type="text" name="usuario" placeholder="Nome ou email" /></label></p>
                <p><label>Senha: <input class="form-control" type="password" name="senha" placeholder="Senha" /></label></p>
                <p><input class="btn btn-primary" type="submit" value="Entrar"></p>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-secondary mt-20" >Cadastrar</button>
    </div>
   
</div>
