<div class="container">
    <div class="row">
        <div class="col-8 text-center" style="height: 150px;">
            <h2>Nova Tarefa</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <form>
                <label>Título:<input class="form-control" type="text" name="titulo" /></label>
                <label>Descrição:<input class="form-control" type="text" name="descricao" /></label>
                <label>Estado:
                    <select name="estado" class="form-control">
                        <option>Feito</option>
                        <option>Fazendo</option>
                        <option>Feito</option>
                    </select>
                </label>
            </form>
        </div>
    </div>
</div>