<div class="container">
    <div class="row">
        <div class="col-8 text-center" style="height: 150px;">
            <h2>Nova Tarefa</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <form method="POST" action="/cadastrarTarefa">
                <label>ID:<input class="form-control" type="text" name="id" /></label>
                <label>Título:<input class="form-control" type="text" name="titulo" /></label>
                <label>Descrição:<input class="form-control" type="text" name="descricao" /></label>
                <label>Estado:
                    <select name="estado" class="form-control">
                        <option>Feito</option>
                        <option>Fazendo</option>
                        <option>Feito</option>
                    </select>
                </label>
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </form>
        </div>
        {{#if mensagem}}
            <div class="alert alert-warning">
                {{mensagem}}
            </div>
        {{/if}}
    </div>
</div>